@use '../../colors' as theme;

$nav-height: 40px;

.root {
  position: absolute;
  top: 0;
  left: 0;
  width: $nav-height;
  bottom: 0;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root__container {
  text-orientation: mixed;
  writing-mode: vertical-rl;
}

.root__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.root__link-container {
  // Vertical padding is switched when the text direction is switched
  // via the text direction prop
  padding: 32px 0;
}

.root__link-container {
  position: relative;

  &::after {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    color: map_get(theme.$greys, 700);
    font-size: 75%;
  }

  &::after {
    top: -2px;
    bottom: unset;
  }

  [dir="rtl"] &::after {
    top: unset;
    bottom: -2px;
  }
}

.root__link-container + .root__link-container::after {
  content: '/';
}

.root__link-container {
  transform-origin: center;
  transform: rotate(180deg);
}

.root__link {
  color: map_get(theme.$colors, "navy");
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

.root__link {
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    position: relative;
    bottom: calc(100% + 4px);
    height: 8px;
    width: 8px;
    border-radius: 4px;
    transform: scale(0);
    background-color: currentColor;
    transition: transform 150ms ease-in-out;
  }
}

.root__link--keyboard {
  color: map_get(theme.$colors, "steelblue");

  &::after {
    transform: scale(1);
    transition: transform 75ms ease-in-out;
  }
}
